body {
    background: #ebe9d5;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 50px auto 0;
    overflow: hidden;
}

h1 {
    margin: 0;
    text-align: center;
}

.list_item {
    text-align: center;
    margin-top: 25px;
}

.img_wrapper {
    position: relative;
}

.img_wrapper img {
    margin-top: 5px;
    width: 100%;
}

.upload {
    display: flex;
    justify-content: center;
}

#file {
    display: none;
    pointer-events: none;
}

.label {
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 15px 40px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 0.2s ease-in-out;
}

.label:hover,
.label:focus {
    outline: 0;
    color: #39698a;
}

.label:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.name {
    font-size: 24px;
    position: relative;
}

.name::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transition: width 0.7s linear;
}

.name.active::after {
    width: 100%;
}

.fas {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 20px;
}
