body{
    background-color: rgb(31, 31, 146);
    display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 375px;
    height: 800px;
	padding: 60px 16px 0;
    background-color: #fff;
}