*{
    box-sizing: border-box;
}

body{
    background-color: #faebd7;
}

.conteiner{
    width: 1150px;
    margin: 0 auto;
}

.parent{
    width: 800px;
    background-color: rgb(80, 80, 80);
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 200px;
}

.text, .btn{
    text-align: center;
    
}

.text{
    color: rgb(255, 241, 225);
    font-size: 24px;
}

input{
    border: none;
    outline: none;
    background-color: rgb(80, 80, 80);
    font-size: 24px;
    cursor: pointer;
}

.rgb, .hex{
    color: rgb(94, 176, 253);
}

.tooltip{
    display: none;
    font-size: 16px;
    color: rgb(172, 153, 153);
}

p{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

button {
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

button:hover, button:focus {
    color: #fff;
    outline: 0;
}


button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}