.name{
    margin: 20px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #1D201F;
}

.additional_info{
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.photo{
    background-color: #ade5f4;
    border-radius: 4px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duration{
    font-weight: normal;
    font-size: 16px;
    color: #5B5B5B;
    line-height: 24px;
    text-align: center;
}

.time_duration{
    font-weight: 600;
    font-size: 16px;
    color: #1D201F;
    text-align: center;
}