body {
    margin: 0;
    background-color: #9dd3c6;
    font-family: "Sans";
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

audio{
    display: none;
}

.container {
    max-width: 1600px;
    margin: 50px auto 0;
    position: relative;
}

.title{
    text-align: center;
    font-size: 46px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.draw{
    position: absolute;
    pointer-events: none;
    z-index: 5;
}


.info {
    text-align: center;
    font-size: 26px;
}

.score {
    margin-top: 5px;
    font-size: 46px;
    font-weight: bold;
}

.player_img {
    width: 313px;
}

.tic{
    margin-top: 70px;
}


.game {
    margin-top: 50px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.turn{
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
    height: 44px;
}

.field{
    min-width: 460px;
    text-align: center;
}

.row {
    position: relative;
}

.row:last-child {
    border-bottom: none;
}

.game_btn {
    width: 150px;
    height: 150px;
    font-size: 40px;
}

.start {
    margin-top: 40px;
    text-align: center;
}

.start button {
    padding: 15px 70px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background: transparent;
}

.start button:hover {
    border: 1px solid;
    border-radius: 30px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

@font-face {
    font-family: "Sans"; 
    src: url("../fonts/ComicNeueSansID.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 