.input{
    display: block;
    width: 100%;
    height: 70px;
    font-size: 38px;
    border: 1px solid #880c26;
    border-bottom: none;
    background-color: #413134;
    color: #fff;
    text-align: right;
    padding: 50px 15px ;
}

.input:focus{
    outline: none;
}